form div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 0 0.5em;
}

form div span {
  width: 100%;
  padding: 0.5em;
  cursor: initial;
}

.clickable {
  cursor: pointer;
}

.inactive {
  color: var(--colorInactive);
}

img.table {
  width: 650px;
}